<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div>
        <h1 class="text-3xl font-bold mb-24 text-center">Home</h1>
        <span class="p-10 text-lg">Hello anh em</span>
        <a href="/logout" class="btn btn-primary border border-1 px-3 py-2 bg-[#4A5DF9] text-white rounded rounded-lg">Logout</a>
    </div>
</body>
</html>
